/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
  margin: 0 auto;
  width: 880px;
}

body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

h1 {
	font-size: 75px;
	text-align: center;
	
}

h3 {
	font-size: 28px;
}
.menu-container {
	width: 100%;
	padding: 5px 2px 0 0;
	height: 45px;
	
	/*display: flex;	*/
}

.menu-container nav {
	width: 100%;	
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu-container a:link {
	text-decoration: none;
	color: #a7a7a7;
	font-size: 16px;
	text-decoration: bold;
}
.menu-container a:hover {
	text-decoration: underline;
}
.menu-container a::visited {
	color: #a7a7a7;
}
.menu-container a::active {
	color: #a7a7a7;
}

.header-container .flex-column {
	width: 425px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-container {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}

.header-item {
	width: 425px;
	height: 400px;
}

.flex-column input {
	padding: 2px 40px 2px 40px;
	border: 1px solid black;
	background: white;
}

.section-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.content-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.content-item {
	width: 425px;
	padding: 25px 5px 25px 5px;
}

.small {
	width: 292px;
}

.smallest {
	width: 150px;
}

#header-item-image {
	/*display: flex;*/
	background-image: url("/img/header-img.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right;
}

#great-idea-logo-image {
	width: 183px;
	height: 36px;
	background-image: url("/img/logo.png");
	background-size: auto;
	background-repeat: no-repeat;

}

#features-about-section {
	border-top: 1.5px solid black;
	margin-top: 40px;
}

#mid-page-accent-image {
	width: 100%;
	height: 182px;
	background-image: url("/img/mid-page-accent.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#services-product-vision-section {
	border-bottom: 1.5px solid black;
}

#footer-copyright {
	text-align: center;
	font-size: 14px;
}

/************ Start Media Queries ********/

/* Desktop */
@media (max-width: 800px) {
  .menu-container {
    height: 100px;
  }
  
  #great-idea-logo-image {
    width: 100%;
    background-position: center;
    order: -1;
    /*align-self: center;*/
  } 
  
  .menu-container nav {
    /*flex-flow: nowrap;*/
    height: inherit;
    justify-content: space-between;
    
  }

  .menu-container nav a {
    /*margin: 0 10px 0;*/
    /*align-self: space-between;*/
  }

  .header-container {
    border: 1px solid green;
  }

  .flex-column {
    border: 1px solid green;
    justify-content: space-around;
  }
  
  #header-item-image {
    display: none;
  }

}

/* Tablet */
@media (max-width: 500px) {
  
  .menu-container nav {
    flex-flow: nowrap;
    border: 1px solid red;
    
  }
    
}

